In [2]:
import pandas as pd
from tqdm import tqdm

In [3]:
new_business_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_business.csv")
new_business_df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '..."
1,1,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'OutdoorSeating': 'True', 'RestaurantsAttire'...","Live/Raw Food, Restaurants, Seafood, Beer Bar,...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
2,2,4xhGQGdGqU60BIznBjqnuA,California Tacos and Taproom,956 Embarcadero Del Norte,Isla Vista,CA,93117,34.411555,-119.855077,4.0,49,0,"{'Music': ""{'dj': False, 'background_music': F...","Mexican, Beer Bar, Bars, Sports Bars, Nightlif...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-22:0', ..."
3,3,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,1,"{'Alcohol': ""u'none'"", 'BusinessAcceptsCreditC...","Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2..."
4,4,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,CA,93117,34.430542,-119.882367,4.0,189,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Burgers, Cafes, Restaurants, Mexican, American...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:30', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,1522,8IV78gQwTH-eZgbfFS_plg,Lost & Found Cafe,919 Linden Ave,Carpinteria,CA,93013,34.398568,-119.519034,5.0,5,1,NaN,"Home Decor, Home & Garden, Coffee & Tea, Food,...",NaN
1523,1523,TSwMwVq5GtQh5LW2t32uGA,Woody's Roundup Bar & Grill,"Earl Warren Showgrounds, 3400 Calle Real",Santa Barbara,CA,93105,34.430895,-119.735645,2.0,6,0,"{'Caters': 'True', 'BusinessParking': ""{'garag...","Barbeque, Bars, Restaurants, Nightlife",NaN
1524,1524,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,2012 De La Vina St,Santa Barbara,CA,93105,34.429154,-119.717222,5.0,19,1,"{'BusinessParking': ""{'garage': False, 'street...","Event Planning & Services, Wine Tasting Room, ...","{'Monday': '0:0-0:0', 'Tuesday': '12:0-18:0', ..."
1525,1525,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,900 Embarcadero Del Mar,Isla Vista,CA,93117,34.412966,-119.856886,2.5,12,1,"{'OutdoorSeating': 'True', 'BusinessAcceptsBit...","Restaurants, Burgers, Food, Ice Cream & Frozen...",NaN
1526,1526,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,3534 State St,Santa Barbara,CA,93105,34.440689,-119.739681,4.0,299,0,"{'NoiseLevel': ""u'average'"", 'RestaurantsGoodF...","Restaurants, Pizza, Food","{'Monday': '15:0-21:0', 'Tuesday': '15:0-21:0'..."

In [4]:
(new_business_df["business_id"].isna()).sum()

0

In [5]:
new_user_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_user.csv")
new_user_df

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,2,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,2005-03-14 20:26:35,14953,9940,11211,"2006,2007,2008,2009,2010,2011,2012,2013,2014","['2iSBJHVMNsolJ3AH1g_D7A', 'vjpRR9_Elrz4bli35g...",...,163,191,361,147,1212,5696,2543,2543,815,323
1,4,QF1Kuhs8iwLWANNZxebTow,Catherine,607,2009-04-27 20:25:54,4573,3714,4149,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","['_BBFY6sBot2j1iY-UDfdxg', 'ug2vTCuxIEnFir-r5F...",...,79,68,29,23,144,407,808,808,587,723
2,5,v7DwnrjzuTk7pXmuBPZnsg,Shell,39,2007-09-12 04:11:59,90,34,59,NaN,"['Inkxry_73bD4V5tnI943qA', 'x4dMlJWPH-iaNqdDoR...",...,0,1,2,1,3,7,3,3,0,0
3,6,4ZaqBJqt7laPPs8xfWvr6A,Nina,801,2008-08-16 22:43:21,1944,616,737,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","['ZXlBdMllPMEUr0C14vH3ZQ', '3yBusRwPYtMCpaBkEy...",...,5,1,10,0,54,71,46,46,39,10
4,11,rCedFOnskGvHQTprtA4-5g,Mike,108,2008-12-13 09:14:24,71,44,39,NaN,"['oCn170cmCCfrgODZm9HoAA', 'rfuWKXVIlC1olMBsrT...",...,0,0,0,0,1,2,4,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,92947,ydIdyGQyO8eZe0yqgs0DfA,Mimi,529,2008-05-25 16:15:17,8219,5236,6941,"2014,2015,2016,2017,2018,2019,20,20,2021","['7an-zIbFKvGxjpeNN9H9ow', 'lWrDnoHn3g8GH1ppd6...",...,55,32,12,0,211,448,816,816,148,606
6017,94943,IFxCdobQsw6Mvwi5PyD6Ow,Stuart,24,2009-01-26 21:26:09,15,1,1,NaN,[],...,0,0,0,0,0,0,1,1,0,0
6018,96184,FQoOpdivy59OlcvDVupidw,Kirsten,6,2011-07-03 23:46:19,4,0,0,NaN,"['bVjMHGGYD_SQ62IHtELVtg', 'a2YsiT-VPyNOMP8gEO...",...,0,0,0,0,0,0,0,0,0,0
6019,98027,sec4Rt8ZGoYcrQgw5N-FvQ,Dean,16,2012-07-19 21:07:47,23,7,10,NaN,"['Ky5NgztJnkwe5ihrI_Z63w', 'rDpuJkXIMtlcqPPRpI...",...,0,0,0,0,0,0,0,0,0,0
6020,100508,nLFzsHTOQUbJpHHVl3b7dw,Chris,5,2014-06-16 05:10:21,3,2,1,NaN,[],...,0,0,0,0,0,0,0,0,0,0

In [6]:
import json

f = open("../cleaned_data/splited_data/train/review_train.json")
data = json.load(f)
review_train_df = pd.DataFrame(data["data"], columns=data["columns"])
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count
0,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0.0,0.0,0.0,"Yes, this is the only sushi place in town. How...",1.378266e+09,NaN,None
1,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0.0,0.0,0.0,"Great burgers,fries and salad! Burgers have a...",1.483327e+09,NaN,None
2,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1.0,1.0,0.0,0.0,"If I could give it a zero, I would. I order a ...",1.314227e+09,NaN,None
3,byblHsbxiqb1pC1cuSfslA,C_2mNjl-doRVvsL03_T57Q,18eWJFJbXyR9j_5xfcRLYA,4.0,7.0,0.0,0.0,This is the first time I tried this place and ...,1.319773e+09,NaN,None
4,SpmKsFnwg35PTgCVujOOJA,RiQWbgwR-asiU_mA7s8gpg,pUVRCYL8rT4I5Ry5FYkRsA,5.0,2.0,0.0,1.0,Sweet spot in the Waterline. Came for some liv...,1.482188e+09,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
78635,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,NaN,NaN,NaN,NaN,This restaurant is the bomb! I love it!,1.366604e+09,0.0,None
78636,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,NaN,NaN,NaN,NaN,squid ink pasta is a delicacy; this dish is a ...,1.358749e+09,0.0,None
78637,None,IFxCdobQsw6Mvwi5PyD6Ow,54oLdsGU9B8HxFTqCCqV-A,NaN,NaN,NaN,NaN,X,1.279761e+09,0.0,None
78638,None,ydIdyGQyO8eZe0yqgs0DfA,vh229jJXjCCdO-b4K-JIIw,NaN,NaN,NaN,NaN,15$ tasting Whoaaa,1.410655e+09,0.0,None
78639,None,ydIdyGQyO8eZe0yqgs0DfA,34Eqv8jXgxg_EEwcsNgeeg,NaN,NaN,NaN,NaN,Forgot to ask for no honey so had to down some...,1.410738e+09,0.0,None

In [7]:
check_in_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_check_in.csv")
check_in_df

,Unnamed: 0,business_id,date
0,0,--onnLZrsCazmcy2P_7fcw,"2010-09-26 23:38:02, 2011-02-01 21:44:51, 2011..."
1,1,-3AooxIkg38UyUdlz5oXdw,"2010-06-24 02:53:02, 2010-07-18 17:00:01, 2010..."
2,2,-6jvfSJGprbfBD2QrS9zQw,"2010-04-25 01:20:57, 2010-10-03 20:09:58, 2011..."
3,3,-8iATYRnN46Km0_-ldx6cg,"2012-03-22 03:07:03, 2012-04-13 00:29:24, 2012..."
4,4,-9r8nAzWyRSLxBWt8uQOdA,"2012-11-01 23:10:11, 2013-05-09 03:47:07, 2013..."
...,...,...,...
1221,1522,ziXR7sUrbKRCNeDqfjibUg,"2010-02-19 02:47:48, 2010-05-15 02:55:56, 2010..."
1222,1523,znlrxrY4InSx7ekPZxoHRw,"2013-08-17 04:56:48, 2013-08-17 21:13:22, 2013..."
1223,1524,zpuFEeAhrNzXPkOlBf5Kog,"2010-04-16 02:53:31, 2010-10-09 02:34:45, 2010..."
1224,1525,zu4p6IZLSVn2Noto-vcwzw,"2010-01-23 21:16:04, 2010-04-10 18:37:18, 2010..."
1225,1526,zxW8zECvT_SqejieMMjb5A,"2010-01-21 20:49:51, 2010-03-06 03:39:58, 2010..."

## User-User Edge

In [8]:
ls1 = [x for x in new_user_df["user_id"]]
ls2 = [y for y in new_user_df["friends"]]
ls = []
for u, x in zip(ls1, ls2):
    if u != "#NAME?":
        x = [y.strip(" '") for y in x.strip("[]").split(",")]
        for data in x:
            if data != "":
                # print([u, data])
                ls.append([u, data])  # A pair of user_id and friends

In [9]:
freq_table = review_train_df.pivot_table(
    index="user_id", columns="business_id", values="text", aggfunc="count"
)

freq_table.fillna(0, inplace=True)
freq_table

business_id,--onnLZrsCazmcy2P_7fcw,-3AooxIkg38UyUdlz5oXdw,-6jvfSJGprbfBD2QrS9zQw,-8iATYRnN46Km0_-ldx6cg,-9r8nAzWyRSLxBWt8uQOdA,-ALqLSTzkGDMscHdxA1NgA,-FM4CxOg4XXmX_Ebky_SiQ,-FRHYI6doGCjIsXiKHkUqw,-Fka99c-tJ-epWYNIobqyQ,-H-fZonTLitwHFY_PLAIjA,...,zVxDd79gdZcfz-O14QBCrA,zWwGjQlUEiLS7hCXDkBGzg,zYTQOpgMSMaFNkcCAvJR3Q,zb9JcXBguyqMCLPCEfQe8w,zeAfmYy9b1gfUJLRBHm6vQ,ziXR7sUrbKRCNeDqfjibUg,znlrxrY4InSx7ekPZxoHRw,zpuFEeAhrNzXPkOlBf5Kog,zu4p6IZLSVn2Noto-vcwzw,zxW8zECvT_SqejieMMjb5A
user_id,,,,,,,,,,,,,,,,,,,,,
-0TDPqsNDa_PfAhr4_Zoqg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1-ECBsGpG4Iw5s-ecnfqw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-14MA777BbjUQLw0zndvfA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1WbN1Qd-opw8u3uEqs2Kg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2fEljwGSp7DP1wqT6C5qQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zrIaF2J2TAqnAwfQAxFp8w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zv6CI7HvLGRHgu6yqX-Asw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zvs6DYpACuh0cpsPDO48dw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zxAM0cdIbZZYN-6gVQuntQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zyt0joW7uNeQof5tthQAHg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
set(freq_table.iloc[0].loc[lambda df: df.ne(0)].index)

{'1XoX4eLYyfK4b8l_TqiPUg',
 'cJXlIGy9SURm12lqHHnf-g',
 'iBBV8vesQ8fo2IQA7an1JA',
 'iBTc6XKgW5HESEZIii-G4g',
 'skY6r8WAkYqpV7_TxNm23w'}

In [11]:
def User2UserWeight(user1, user2, freq_table, eps=1e-4):
    numerator = 0
    user1_business = set(freq_table.loc[user1].loc[lambda df: df.ne(0)].index)
    user2_business = set(freq_table.loc[user2].loc[lambda df: df.ne(0)].index)
    for business in user1_business & user2_business:
        numerator += min(
            freq_table.loc[user1][business], freq_table.loc[user2][business]
        )
    numerator += eps
    denominator = len(user1_business & user2_business) + 1
    return round(numerator / denominator, 4)

In [12]:
with open("../cleaned_data/graph_data/User2User_edges.txt", "w") as f:
    for data in tqdm(ls):
        try:
            if data[0] in freq_table.index and data[1] in freq_table.index:
                f.write(str(data[0]))
                f.write(",")
                f.write(str(data[1]))
                f.write(",")
                f.write(str(User2UserWeight(data[0], data[1], freq_table)))
                f.write("\n")  # A pair of user_id and friends
        except:
            pass

  0%|          | 0/145633 [00:00<?, ?it/s]

100%|██████████| 145633/145633 [00:13<00:00, 10955.95it/s]

## User-Poi Edge

In [13]:
import torch
from tqdm import tqdm
from transformers import AutoModelForSequenceClassification, AutoTokenizer

device = (
    "cuda"
    if torch.cuda.is_available()
    else ("mps" if torch.backends.mps.is_available() else "cpu")
)
print(device)

model = AutoModelForSequenceClassification.from_pretrained(
    "nihaldsouza1/yelp-rating-classification",
)

tokenizer = AutoTokenizer.from_pretrained(
    "nihaldsouza1/yelp-rating-classification",
    truncation=True,
    max_length=512,
)

cuda

In [14]:
review_train_df["text"].values

array(["Yes, this is the only sushi place in town. However, it is great when you're craving sushi and don't have time to go somewhere else. The salmon is probably the best fish they have, so we always order salmon. We also love their spicy edamame, tempura, ocean salad, and cabbage salad. Service has always been friendly and quick!",
       'Great burgers,fries and salad!  Burgers have a hint of salt and pepper flavor.\n\nThis location is very quaint. They only have outdoor seating\n\nFriendly staff.\n\nStreet parking as well as parking lot in the back.',
       "If I could give it a zero, I would. I order a plain hamburger, and realized they put  bacon in it (which I am allergic to and unable to eat) after two bites. When I went back to the drive-through window to complain (didn't realize the actual restaurant was open--it was almost 2 after all...), the guy took back the burger, said nothing, and disappeared. After 2 minutes of awkwardly making conversation with the next people in line in their car, he came back and rudely told me I had to go inside to get my food. Which I did. And still did not get an apology.\n\nI refuse to go back there after that ordeal, which is a shame, because it's nice to have a variety of places to go to after DT. Guess Freebirds it is!",
       ..., 'X', '15$ tasting Whoaaa',
       'Forgot to ask for no honey so had to down some water w it cause it was too sweet... Extra tappy tasting'],
      dtype=object)

In [15]:
tokenizer

RobertaTokenizerFast(name_or_path='nihaldsouza1/yelp-rating-classification', vocab_size=50265, model_max_length=512, is_fast=True, padding_side='right', truncation_side='right', special_tokens={'bos_token': '<s>', 'eos_token': '</s>', 'unk_token': '<unk>', 'sep_token': '</s>', 'pad_token': '<pad>', 'cls_token': '<s>', 'mask_token': '<mask>'}, clean_up_tokenization_spaces=False),  added_tokens_decoder={
	0: AddedToken("<s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	1: AddedToken("<pad>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	2: AddedToken("</s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	3: AddedToken("<unk>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	50264: AddedToken("<mask>", rstrip=False, lstrip=True, single_word=False, normalized=False, special=True),
}

In [16]:
model.to(device)

RobertaForSequenceClassification(
  (roberta): RobertaModel(
    (embeddings): RobertaEmbeddings(
      (word_embeddings): Embedding(50265, 768, padding_idx=1)
      (position_embeddings): Embedding(514, 768, padding_idx=1)
      (token_type_embeddings): Embedding(1, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): RobertaEncoder(
      (layer): ModuleList(
        (0-5): 6 x RobertaLayer(
          (attention): RobertaAttention(
            (self): RobertaSdpaSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): RobertaSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): RobertaIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): RobertaOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
  )
  (classifier): RobertaClassificationHead(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (dropout): Dropout(p=0.1, inplace=False)
    (out_proj): Linear(in_features=768, out_features=5, bias=True)
  )
)

In [17]:
res = list(review_train_df["text"].values)

star = []
model.eval()
model.to(device)
with torch.no_grad():
    for i in tqdm(range(len(res))):
        inputs = res[i]
        inputs = tokenizer(inputs, return_tensors="pt", truncation=True)
        inputs.to(device)
        k = torch.argmax(model(**inputs).logits[0]).item() + 1
        star.append(k)

  0%|          | 0/78640 [00:00<?, ?it/s]d:\Miniconda3\envs\8007project\lib\site-packages\transformers\models\roberta\modeling_roberta.py:370: UserWarning: 1Torch was not compiled with flash attention. (Triggered internally at C:\cb\pytorch_1000000000000\work\aten\src\ATen\native\transformers\cuda\sdp_utils.cpp:455.)
  attn_output = torch.nn.functional.scaled_dot_product_attention(
100%|██████████| 78640/78640 [14:21<00:00, 91.25it/s]

In [18]:
temp = review_train_df["stars"]
star = pd.Series(star)
temp.loc[temp.isnull()] = star.loc[temp.isnull()]
review_train_df["new_stars"] = (temp + star) / 2

C:\Users\24687\AppData\Local\Temp\ipykernel_14696\3032444854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.loc[temp.isnull()] = star.loc[temp.isnull()]

In [19]:
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count,new_stars
0,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0.0,0.0,0.0,"Yes, this is the only sushi place in town. How...",1.378266e+09,NaN,None,4.0
1,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0.0,0.0,0.0,"Great burgers,fries and salad! Burgers have a...",1.483327e+09,NaN,None,4.5
2,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1.0,1.0,0.0,0.0,"If I could give it a zero, I would. I order a ...",1.314227e+09,NaN,None,1.0
3,byblHsbxiqb1pC1cuSfslA,C_2mNjl-doRVvsL03_T57Q,18eWJFJbXyR9j_5xfcRLYA,4.0,7.0,0.0,0.0,This is the first time I tried this place and ...,1.319773e+09,NaN,None,4.0
4,SpmKsFnwg35PTgCVujOOJA,RiQWbgwR-asiU_mA7s8gpg,pUVRCYL8rT4I5Ry5FYkRsA,5.0,2.0,0.0,1.0,Sweet spot in the Waterline. Came for some liv...,1.482188e+09,NaN,None,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
78635,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,5.0,NaN,NaN,NaN,This restaurant is the bomb! I love it!,1.366604e+09,0.0,None,5.0
78636,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,4.0,NaN,NaN,NaN,squid ink pasta is a delicacy; this dish is a ...,1.358749e+09,0.0,None,4.0
78637,None,IFxCdobQsw6Mvwi5PyD6Ow,54oLdsGU9B8HxFTqCCqV-A,1.0,NaN,NaN,NaN,X,1.279761e+09,0.0,None,1.0
78638,None,ydIdyGQyO8eZe0yqgs0DfA,vh229jJXjCCdO-b4K-JIIw,1.0,NaN,NaN,NaN,15$ tasting Whoaaa,1.410655e+09,0.0,None,1.0
78639,None,ydIdyGQyO8eZe0yqgs0DfA,34Eqv8jXgxg_EEwcsNgeeg,2.0,NaN,NaN,NaN,Forgot to ask for no honey so had to down some...,1.410738e+09,0.0,None,2.0

In [20]:
def User2PoiWeight(user_id, business_id, freq_table):
    star = review_train_df.loc[
        (review_train_df["user_id"] == user_id)
        & (review_train_df["business_id"] == business_id)
    ]["new_stars"]
    return star

In [21]:
review_train_df.pivot_table(
    index="user_id",
    columns="business_id",
    values="new_stars",
    aggfunc="count",
    fill_value=0,
)
with open("../cleaned_data/graph_data/User2Poi_edges.txt", "w") as f:
    for user_id in tqdm(freq_table.index):
        for business_id in freq_table.columns:
            if freq_table.loc[user_id][business_id] >= 1:
                f.write(str(user_id))
                f.write(",")
                f.write(str(business_id))
                f.write(",")
                f.write(str(User2PoiWeight(user_id, business_id, freq_table)))
                f.write("\n")

100%|██████████| 6021/6021 [11:46<00:00,  8.53it/s]

## Poi-Poi Edge

In [22]:
from datetime import datetime

review_train_df["date2"] = [datetime.fromtimestamp(x) for x in review_train_df["date"]]
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count,new_stars,date2
0,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0.0,0.0,0.0,"Yes, this is the only sushi place in town. How...",1.378266e+09,NaN,None,4.0,2013-09-04 11:48:20
1,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0.0,0.0,0.0,"Great burgers,fries and salad! Burgers have a...",1.483327e+09,NaN,None,4.5,2017-01-02 11:17:34
2,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1.0,1.0,0.0,0.0,"If I could give it a zero, I would. I order a ...",1.314227e+09,NaN,None,1.0,2011-08-25 07:07:08
3,byblHsbxiqb1pC1cuSfslA,C_2mNjl-doRVvsL03_T57Q,18eWJFJbXyR9j_5xfcRLYA,4.0,7.0,0.0,0.0,This is the first time I tried this place and ...,1.319773e+09,NaN,None,4.0,2011-10-28 11:43:05
4,SpmKsFnwg35PTgCVujOOJA,RiQWbgwR-asiU_mA7s8gpg,pUVRCYL8rT4I5Ry5FYkRsA,5.0,2.0,0.0,1.0,Sweet spot in the Waterline. Came for some liv...,1.482188e+09,NaN,None,5.0,2016-12-20 06:58:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78635,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,5.0,NaN,NaN,NaN,This restaurant is the bomb! I love it!,1.366604e+09,0.0,None,5.0,2013-04-22 12:11:57
78636,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,4.0,NaN,NaN,NaN,squid ink pasta is a delicacy; this dish is a ...,1.358749e+09,0.0,None,4.0,2013-01-21 14:09:24
78637,None,IFxCdobQsw6Mvwi5PyD6Ow,54oLdsGU9B8HxFTqCCqV-A,1.0,NaN,NaN,NaN,X,1.279761e+09,0.0,None,1.0,2010-07-22 09:13:59
78638,None,ydIdyGQyO8eZe0yqgs0DfA,vh229jJXjCCdO-b4K-JIIw,1.0,NaN,NaN,NaN,15$ tasting Whoaaa,1.410655e+09,0.0,None,1.0,2014-09-14 08:29:09
78639,None,ydIdyGQyO8eZe0yqgs0DfA,34Eqv8jXgxg_EEwcsNgeeg,2.0,NaN,NaN,NaN,Forgot to ask for no honey so had to down some...,1.410738e+09,0.0,None,2.0,2014-09-15 07:38:15

In [23]:
time_table = review_train_df.pivot_table(
    index="user_id",
    columns="business_id",
    values="date2",
)
time_table

business_id,--onnLZrsCazmcy2P_7fcw,-3AooxIkg38UyUdlz5oXdw,-6jvfSJGprbfBD2QrS9zQw,-8iATYRnN46Km0_-ldx6cg,-9r8nAzWyRSLxBWt8uQOdA,-ALqLSTzkGDMscHdxA1NgA,-FM4CxOg4XXmX_Ebky_SiQ,-FRHYI6doGCjIsXiKHkUqw,-Fka99c-tJ-epWYNIobqyQ,-H-fZonTLitwHFY_PLAIjA,...,zVxDd79gdZcfz-O14QBCrA,zWwGjQlUEiLS7hCXDkBGzg,zYTQOpgMSMaFNkcCAvJR3Q,zb9JcXBguyqMCLPCEfQe8w,zeAfmYy9b1gfUJLRBHm6vQ,ziXR7sUrbKRCNeDqfjibUg,znlrxrY4InSx7ekPZxoHRw,zpuFEeAhrNzXPkOlBf5Kog,zu4p6IZLSVn2Noto-vcwzw,zxW8zECvT_SqejieMMjb5A
user_id,,,,,,,,,,,,,,,,,,,,,
-0TDPqsNDa_PfAhr4_Zoqg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
-1-ECBsGpG4Iw5s-ecnfqw,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
-14MA777BbjUQLw0zndvfA,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
-1WbN1Qd-opw8u3uEqs2Kg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2016-03-25 23:44:32,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
-2fEljwGSp7DP1wqT6C5qQ,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zrIaF2J2TAqnAwfQAxFp8w,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zv6CI7HvLGRHgu6yqX-Asw,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zvs6DYpACuh0cpsPDO48dw,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zxAM0cdIbZZYN-6gVQuntQ,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zyt0joW7uNeQof5tthQAHg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [24]:
# t = time_table.loc["zzDtNDtESTyAXX3glz4MWQ"]["-4x3pVUUsfWmKEilWKsOZQ"]
# t

In [25]:
# Check which user has visited the specified business
# time_table["-4x3pVUUsfWmKEilWKsOZQ"].sort_values().loc[lambda df: df.notnull()]

In [26]:
# time_table["-4x3pVUUsfWmKEilWKsOZQ"].sort_values().loc[lambda df: df.notnull()].index
# time_table.loc["Roz6yC22LRB2wFJC6I9ERg"].sort_values().loc[lambda df: df.notnull()]

In [27]:
# t

In [28]:
# time_table.loc["Roz6yC22LRB2wFJC6I9ERg"].sort_values().loc[lambda df: df.notnull()] > t

In [29]:
# time_table.columns

In [30]:
# Generate edges map from 1 PoI to another PoI
Poi2Poi = {}
for business in tqdm(
    time_table.columns,
):
    business_record = time_table[business].sort_values().loc[lambda df: df.notnull()]
    after_visit = []
    for user in tqdm(business_record.index, leave=False):
        timeStamp = business_record.loc[user]
        # user trajectory
        user_trajectory = (
            time_table.loc[user].sort_values().loc[lambda df: df.notnull()]
        )

        user_trajectory = user_trajectory.loc[lambda df: df > timeStamp].index
        if len(user_trajectory) > 0:
            after_visit.append(user_trajectory[0])
    after_visit = list(set(after_visit))
    Poi2Poi[business] = after_visit

100%|██████████| 1226/1226 [00:35<00:00, 34.77it/s]

In [31]:
from geopy.distance import geodesic

In [40]:
Poi2Poi_dis = {}
negative_exponent = -7
for business, after_visit in tqdm(Poi2Poi.items()):
    for poi in after_visit:
        try:
            business_loc = new_business_df.loc[new_business_df["business_id"] == business][
                ["latitude", "longitude"]
            ].values[0]
            poi_loc = new_business_df.loc[new_business_df["business_id"] == poi][
                ["latitude", "longitude"]
            ].values[0]
            Poi2Poi_dis[(business, poi)] = (
                geodesic(business_loc, poi_loc).miles
            ) ** negative_exponent
        except Exception as e:
            print(f"Error occurred with business: {business}, poi: {poi}")
            print(f"business_loc: {locals().get('business_loc', 'undefined')}, "
                f"poi_loc: {locals().get('poi_loc', 'undefined')}")
            print(f"Exception: {e}")
            Poi2Poi_dis[(business, poi)] = 1e-5
    Poi2Poi_dis[(business,)] = sum(
        [Poi2Poi_dis[(business, poi)] for poi in after_visit]
    )

  1%|          | 11/1226 [00:00<01:04, 18.76it/s]

Error occurred with business: -FRHYI6doGCjIsXiKHkUqw, poi: F-NlTcl5BHb07E7TFb2TJw
business_loc: [  34.411727  -119.8567951], poi_loc: [  34.411727  -119.8567951]
Exception: 0.0 cannot be raised to a negative power

  2%|▏         | 22/1226 [00:01<00:57, 20.76it/s]

Error occurred with business: -VvMsFD0W2nQuO9buaeC1g, poi: w1halomlYgM0sfOJJVzsVA
business_loc: [  34.4412257 -119.8283876], poi_loc: [  34.4412257 -119.8283876]
Exception: 0.0 cannot be raised to a negative power

 27%|██▋       | 331/1226 [00:11<00:38, 23.05it/s]

Error occurred with business: EoLzj1yciIjEZS9ZEJe_kQ, poi: f3eve2cxUIzyanWnHdMtFQ
business_loc: [  34.4236075 -119.7070539], poi_loc: [  34.4236075 -119.7070539]
Exception: 0.0 cannot be raised to a negative power

 35%|███▌      | 435/1226 [00:15<00:28, 27.96it/s]

Error occurred with business: KxTipxTtvRDOntfze34NPw, poi: xGaYXbXGwagUKPNEaVqbWw
business_loc: [  34.4402476 -119.766991 ], poi_loc: [  34.4402476 -119.766991 ]
Exception: 0.0 cannot be raised to a negative power

 37%|███▋      | 457/1226 [00:16<00:30, 25.19it/s]

Error occurred with business: MAIfD4kJDCydgoD1l2b_vw, poi: VC4jqq8Hu1_RjBFt8nHD2Q
business_loc: [  34.4142112 -119.6887567], poi_loc: [  34.4142112 -119.6887567]
Exception: 0.0 cannot be raised to a negative power

 42%|████▏     | 513/1226 [00:18<00:24, 29.67it/s]

Error occurred with business: OzGk7arJv6FPrWqaYSvyKQ, poi: BVzFvRrgMpL62oPIqGvLMg
business_loc: [  34.4356695 -119.8097733], poi_loc: [  34.4356695 -119.8097733]
Exception: 0.0 cannot be raised to a negative power

 44%|████▍     | 542/1226 [00:19<00:17, 40.11it/s]

Error occurred with business: Qfb1ZgV43eHTZeR4x5fAUA, poi: d1sY9JkgkGt3_P2fWZ2eFw
business_loc: [  34.4174763 -119.6960563], poi_loc: [  34.4174763 -119.6960563]
Exception: 0.0 cannot be raised to a negative power

 46%|████▌     | 562/1226 [00:19<00:26, 24.75it/s]

Error occurred with business: RdFgbrE_8sf6NImEMopaPQ, poi: MbzgGsMQpGyVrUJXi_Jw0Q
business_loc: [  34.4157298 -119.6936606], poi_loc: [  34.4157298 -119.6936606]
Exception: 0.0 cannot be raised to a negative power

 68%|██████▊   | 835/1226 [00:28<00:12, 32.18it/s]

Error occurred with business: f3eve2cxUIzyanWnHdMtFQ, poi: EoLzj1yciIjEZS9ZEJe_kQ
business_loc: [  34.4236075 -119.7070539], poi_loc: [  34.4236075 -119.7070539]
Exception: 0.0 cannot be raised to a negative power

 72%|███████▏  | 877/1226 [00:30<00:11, 31.50it/s]

Error occurred with business: hrEtM0WMgwhv19mzVnKiJQ, poi: MG0IlmvAILSzRE4E1gk5hA
business_loc: [  34.4164797 -119.6956151], poi_loc: [  34.4164797 -119.6956151]
Exception: 0.0 cannot be raised to a negative power

 73%|███████▎  | 891/1226 [00:30<00:10, 30.52it/s]

Error occurred with business: iFqeo1OrIcH8k4N0Oy6yJg, poi: wX4ap0Qy5ZK6Hy2iKvBqXA
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: iFqeo1OrIcH8k4N0Oy6yJg, poi: n67s7eDowWHlfhVtCElxGQ
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: iFqeo1OrIcH8k4N0Oy6yJg, poi: wxdpQV7CZHn6_DFr-JGUgw
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power

 80%|████████  | 984/1226 [00:33<00:07, 31.38it/s]

Error occurred with business: n67s7eDowWHlfhVtCElxGQ, poi: iFqeo1OrIcH8k4N0Oy6yJg
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: n67s7eDowWHlfhVtCElxGQ, poi: wxdpQV7CZHn6_DFr-JGUgw
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power

 87%|████████▋ | 1071/1226 [00:36<00:04, 37.79it/s]

Error occurred with business: rU8HgGMR8Qd8_SkvKANdEA, poi: CF1Gj1KGL13QcDkUwOvS3g
business_loc: [  34.440625  -119.7323971], poi_loc: [  34.440625  -119.7323971]
Exception: 0.0 cannot be raised to a negative power

 89%|████████▉ | 1091/1226 [00:37<00:04, 29.37it/s]

Error occurred with business: sor6oj-nuslOcSx7di4urA, poi: y4x_wAQvUxvTR8iV-JP4Jg
business_loc: [  34.4037491 -119.6935611], poi_loc: [  34.4037491 -119.6935611]
Exception: 0.0 cannot be raised to a negative power

 94%|█████████▍| 1151/1226 [00:39<00:02, 30.41it/s]

Error occurred with business: vmq2cm0Ayol4toVsL4dZfA, poi: ZcbhsniFmXZFW8ccPvsSLA
business_loc: [  34.4132765 -119.8567759], poi_loc: [  34.4132765 -119.8567759]
Exception: 0.0 cannot be raised to a negative power

 95%|█████████▌| 1167/1226 [00:40<00:02, 23.73it/s]

Error occurred with business: wX4ap0Qy5ZK6Hy2iKvBqXA, poi: n67s7eDowWHlfhVtCElxGQ
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: wX4ap0Qy5ZK6Hy2iKvBqXA, poi: wxdpQV7CZHn6_DFr-JGUgw
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power

 96%|█████████▌| 1173/1226 [00:40<00:02, 19.67it/s]

Error occurred with business: wxdpQV7CZHn6_DFr-JGUgw, poi: xmYXjgEMauD9XYlyeSIaqw
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: wxdpQV7CZHn6_DFr-JGUgw, poi: n67s7eDowWHlfhVtCElxGQ
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power
Error occurred with business: wxdpQV7CZHn6_DFr-JGUgw, poi: wX4ap0Qy5ZK6Hy2iKvBqXA
business_loc: [  34.4235962 -119.7066283], poi_loc: [  34.4235962 -119.7066283]
Exception: 0.0 cannot be raised to a negative power

 97%|█████████▋| 1191/1226 [00:41<00:01, 33.21it/s]

Error occurred with business: y4x_wAQvUxvTR8iV-JP4Jg, poi: sor6oj-nuslOcSx7di4urA
business_loc: [  34.4037491 -119.6935611], poi_loc: [  34.4037491 -119.6935611]
Exception: 0.0 cannot be raised to a negative power

100%|██████████| 1226/1226 [00:43<00:00, 28.42it/s]

In [42]:
Poi2Poi_weight = {}
for business1 in time_table.columns:
    for business2 in Poi2Poi[business1]:
        tmp = 0  # sum of weight
        for user in time_table.loc[lambda df: df[business1].notnull()].index:
            user_trajectory = (
                time_table.loc[user].sort_values().loc[lambda df: df.notnull()]
            )
            for idx, poi in enumerate(user_trajectory.index):
                if (
                    user_trajectory.index[idx] == business1
                    and idx + 1 < len(user_trajectory) # Should be in front of `user_trajectory.index[idx + 1]`
                    and user_trajectory.index[idx + 1] == business2
                    
                ):
                    # Calculate distance between two PoI
                    temp += (
                        Poi2Poi_dis[(business1, business2)] / Poi2Poi_dis[(business1,)]
                    )
        Poi2Poi_weight[(business1, business2)] = temp

In [44]:
with open("../cleaned_data/graph_data/Poi2Poi_edges.txt", "w") as f:
    for business1 in tqdm(time_table.columns):
        for business2 in Poi2Poi[business1]:
            f.write(str(business1))
            f.write(",")
            f.write(str(business2))
            f.write(",")
            f.write(str(Poi2Poi_weight[(business1, business2)]))
            f.write("\n")

100%|██████████| 1226/1226 [00:18<00:00, 65.45it/s]

## node_type_ID.txt

In [48]:
# The node_type_ID.txt format is as follows:
# node_id   node_type
# 0         U
# 1         U
# 2         P
# 3         P

## edge_type_ID.txt
with open("../cleaned_data/graph_data/node_type_ID.txt", "w") as f:
    for user_id in review_train_df["user_id"].unique():
        f.write(f"{user_id}\tU\n")
    for poi_id in review_train_df["business_id"].unique():
        f.write(f"{poi_id}\tP\n")

## Concatenate all edge weights files

In [46]:
## edge_ID.txt
# Read all edges from the file (Poi2Poi_edges.txt, User2Poi_edges.txt, User2User_edges.txt) and write them to the edge_ID.txt file
with open("../cleaned_data/graph_data/edge_ID.txt", "w") as f:
    with open("../cleaned_data/graph_data/Poi2Poi_edges.txt", "r") as f1:
        for line in f1:
            f.write(line)
    with open("../cleaned_data/graph_data/User2Poi_edges.txt", "r") as f2:
        for line in f2:
            f.write(line)
    with open("../cleaned_data/graph_data/User2User_edges.txt", "r") as f3:
        for line in f3:
            f.write(line)

In [47]:
print(tmp)

0