In [2]:
import pandas as pd
from tqdm import tqdm

In [4]:
new_business_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_business.csv")
new_business_df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '..."
1,1,SZU9c8V2GuREDN5KgyHFJw,Santa Barbara Shellfish Company,230 Stearns Wharf,Santa Barbara,CA,93101,34.408715,-119.685019,4.0,2404,1,"{'OutdoorSeating': 'True', 'RestaurantsAttire'...","Live/Raw Food, Restaurants, Seafood, Beer Bar,...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
2,2,4xhGQGdGqU60BIznBjqnuA,California Tacos and Taproom,956 Embarcadero Del Norte,Isla Vista,CA,93117,34.411555,-119.855077,4.0,49,0,"{'Music': ""{'dj': False, 'background_music': F...","Mexican, Beer Bar, Bars, Sports Bars, Nightlif...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-22:0', ..."
3,3,ifjluUv4VASwmFqEp8cWlQ,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,1,"{'Alcohol': ""u'none'"", 'BusinessAcceptsCreditC...","Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2..."
4,4,VeFfrEZ4iWaecrQg6Eq4cg,Cal Taco,"7320 Hollister Ave, Ste 1",Goleta,CA,93117,34.430542,-119.882367,4.0,189,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Burgers, Cafes, Restaurants, Mexican, American...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:30', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,1522,8IV78gQwTH-eZgbfFS_plg,Lost & Found Cafe,919 Linden Ave,Carpinteria,CA,93013,34.398568,-119.519034,5.0,5,1,NaN,"Home Decor, Home & Garden, Coffee & Tea, Food,...",NaN
1523,1523,TSwMwVq5GtQh5LW2t32uGA,Woody's Roundup Bar & Grill,"Earl Warren Showgrounds, 3400 Calle Real",Santa Barbara,CA,93105,34.430895,-119.735645,2.0,6,0,"{'Caters': 'True', 'BusinessParking': ""{'garag...","Barbeque, Bars, Restaurants, Nightlife",NaN
1524,1524,Bo-GGwQNcLVwyKeYkbfAYg,Vino Divino,2012 De La Vina St,Santa Barbara,CA,93105,34.429154,-119.717222,5.0,19,1,"{'BusinessParking': ""{'garage': False, 'street...","Event Planning & Services, Wine Tasting Room, ...","{'Monday': '0:0-0:0', 'Tuesday': '12:0-18:0', ..."
1525,1525,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,900 Embarcadero Del Mar,Isla Vista,CA,93117,34.412966,-119.856886,2.5,12,1,"{'OutdoorSeating': 'True', 'BusinessAcceptsBit...","Restaurants, Burgers, Food, Ice Cream & Frozen...",NaN
1526,1526,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,3534 State St,Santa Barbara,CA,93105,34.440689,-119.739681,4.0,299,0,"{'NoiseLevel': ""u'average'"", 'RestaurantsGoodF...","Restaurants, Pizza, Food","{'Monday': '15:0-21:0', 'Tuesday': '15:0-21:0'..."

In [5]:
(new_business_df["business_id"].isna()).sum()

0

In [6]:
new_user_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_user.csv")
new_user_df

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,2,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,2005-03-14 20:26:35,14953,9940,11211,"2006,2007,2008,2009,2010,2011,2012,2013,2014","['2iSBJHVMNsolJ3AH1g_D7A', 'vjpRR9_Elrz4bli35g...",...,163,191,361,147,1212,5696,2543,2543,815,323
1,4,QF1Kuhs8iwLWANNZxebTow,Catherine,607,2009-04-27 20:25:54,4573,3714,4149,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","['_BBFY6sBot2j1iY-UDfdxg', 'ug2vTCuxIEnFir-r5F...",...,79,68,29,23,144,407,808,808,587,723
2,5,v7DwnrjzuTk7pXmuBPZnsg,Shell,39,2007-09-12 04:11:59,90,34,59,NaN,"['Inkxry_73bD4V5tnI943qA', 'x4dMlJWPH-iaNqdDoR...",...,0,1,2,1,3,7,3,3,0,0
3,6,4ZaqBJqt7laPPs8xfWvr6A,Nina,801,2008-08-16 22:43:21,1944,616,737,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","['ZXlBdMllPMEUr0C14vH3ZQ', '3yBusRwPYtMCpaBkEy...",...,5,1,10,0,54,71,46,46,39,10
4,11,rCedFOnskGvHQTprtA4-5g,Mike,108,2008-12-13 09:14:24,71,44,39,NaN,"['oCn170cmCCfrgODZm9HoAA', 'rfuWKXVIlC1olMBsrT...",...,0,0,0,0,1,2,4,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,92947,ydIdyGQyO8eZe0yqgs0DfA,Mimi,529,2008-05-25 16:15:17,8219,5236,6941,"2014,2015,2016,2017,2018,2019,20,20,2021","['7an-zIbFKvGxjpeNN9H9ow', 'lWrDnoHn3g8GH1ppd6...",...,55,32,12,0,211,448,816,816,148,606
6017,94943,IFxCdobQsw6Mvwi5PyD6Ow,Stuart,24,2009-01-26 21:26:09,15,1,1,NaN,[],...,0,0,0,0,0,0,1,1,0,0
6018,96184,FQoOpdivy59OlcvDVupidw,Kirsten,6,2011-07-03 23:46:19,4,0,0,NaN,"['bVjMHGGYD_SQ62IHtELVtg', 'a2YsiT-VPyNOMP8gEO...",...,0,0,0,0,0,0,0,0,0,0
6019,98027,sec4Rt8ZGoYcrQgw5N-FvQ,Dean,16,2012-07-19 21:07:47,23,7,10,NaN,"['Ky5NgztJnkwe5ihrI_Z63w', 'rDpuJkXIMtlcqPPRpI...",...,0,0,0,0,0,0,0,0,0,0
6020,100508,nLFzsHTOQUbJpHHVl3b7dw,Chris,5,2014-06-16 05:10:21,3,2,1,NaN,[],...,0,0,0,0,0,0,0,0,0,0

In [7]:
import json

f = open("../cleaned_data/splited_data/train/review_train.json")
data = json.load(f)
review_train_df = pd.DataFrame(data["data"], columns=data["columns"])
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count
0,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0.0,0.0,0.0,"Yes, this is the only sushi place in town. How...",1.378266e+09,NaN,None
1,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0.0,0.0,0.0,"Great burgers,fries and salad! Burgers have a...",1.483327e+09,NaN,None
2,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1.0,1.0,0.0,0.0,"If I could give it a zero, I would. I order a ...",1.314227e+09,NaN,None
3,byblHsbxiqb1pC1cuSfslA,C_2mNjl-doRVvsL03_T57Q,18eWJFJbXyR9j_5xfcRLYA,4.0,7.0,0.0,0.0,This is the first time I tried this place and ...,1.319773e+09,NaN,None
4,SpmKsFnwg35PTgCVujOOJA,RiQWbgwR-asiU_mA7s8gpg,pUVRCYL8rT4I5Ry5FYkRsA,5.0,2.0,0.0,1.0,Sweet spot in the Waterline. Came for some liv...,1.482188e+09,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
78635,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,NaN,NaN,NaN,NaN,This restaurant is the bomb! I love it!,1.366604e+09,0.0,None
78636,None,SGwt_hJqKn46rOSr6VjBpA,PZIVcSuN-G_I6oG6EVKntQ,NaN,NaN,NaN,NaN,squid ink pasta is a delicacy; this dish is a ...,1.358749e+09,0.0,None
78637,None,IFxCdobQsw6Mvwi5PyD6Ow,54oLdsGU9B8HxFTqCCqV-A,NaN,NaN,NaN,NaN,X,1.279761e+09,0.0,None
78638,None,ydIdyGQyO8eZe0yqgs0DfA,vh229jJXjCCdO-b4K-JIIw,NaN,NaN,NaN,NaN,15$ tasting Whoaaa,1.410655e+09,0.0,None
78639,None,ydIdyGQyO8eZe0yqgs0DfA,34Eqv8jXgxg_EEwcsNgeeg,NaN,NaN,NaN,NaN,Forgot to ask for no honey so had to down some...,1.410738e+09,0.0,None

In [9]:
check_in_df = pd.read_csv(r"../cleaned_data/splited_data/train/new_check_in.csv")
check_in_df

,Unnamed: 0,business_id,date
0,0,--onnLZrsCazmcy2P_7fcw,"2010-09-26 23:38:02, 2011-02-01 21:44:51, 2011..."
1,1,-3AooxIkg38UyUdlz5oXdw,"2010-06-24 02:53:02, 2010-07-18 17:00:01, 2010..."
2,2,-6jvfSJGprbfBD2QrS9zQw,"2010-04-25 01:20:57, 2010-10-03 20:09:58, 2011..."
3,3,-8iATYRnN46Km0_-ldx6cg,"2012-03-22 03:07:03, 2012-04-13 00:29:24, 2012..."
4,4,-9r8nAzWyRSLxBWt8uQOdA,"2012-11-01 23:10:11, 2013-05-09 03:47:07, 2013..."
...,...,...,...
1221,1522,ziXR7sUrbKRCNeDqfjibUg,"2010-02-19 02:47:48, 2010-05-15 02:55:56, 2010..."
1222,1523,znlrxrY4InSx7ekPZxoHRw,"2013-08-17 04:56:48, 2013-08-17 21:13:22, 2013..."
1223,1524,zpuFEeAhrNzXPkOlBf5Kog,"2010-04-16 02:53:31, 2010-10-09 02:34:45, 2010..."
1224,1525,zu4p6IZLSVn2Noto-vcwzw,"2010-01-23 21:16:04, 2010-04-10 18:37:18, 2010..."
1225,1526,zxW8zECvT_SqejieMMjb5A,"2010-01-21 20:49:51, 2010-03-06 03:39:58, 2010..."

## User-User Edge

In [10]:
ls1 = [x for x in new_user_df["user_id"]]
ls2 = [y for y in new_user_df["friends"]]
ls = []
for u, x in zip(ls1, ls2):
    if u != "#NAME?":
        x = [y.strip(" '") for y in x.strip("[]").split(",")]
        for data in x:
            if data != "":
                # print([u, data])
                ls.append([u, data])  # A pair of user_id and friends

In [11]:
freq_table = review_train_df.pivot_table(
    index="user_id", columns="business_id", values="text", aggfunc="count"
)

freq_table.fillna(0, inplace=True)
freq_table

business_id,--onnLZrsCazmcy2P_7fcw,-3AooxIkg38UyUdlz5oXdw,-6jvfSJGprbfBD2QrS9zQw,-8iATYRnN46Km0_-ldx6cg,-9r8nAzWyRSLxBWt8uQOdA,-ALqLSTzkGDMscHdxA1NgA,-FM4CxOg4XXmX_Ebky_SiQ,-FRHYI6doGCjIsXiKHkUqw,-Fka99c-tJ-epWYNIobqyQ,-H-fZonTLitwHFY_PLAIjA,...,zVxDd79gdZcfz-O14QBCrA,zWwGjQlUEiLS7hCXDkBGzg,zYTQOpgMSMaFNkcCAvJR3Q,zb9JcXBguyqMCLPCEfQe8w,zeAfmYy9b1gfUJLRBHm6vQ,ziXR7sUrbKRCNeDqfjibUg,znlrxrY4InSx7ekPZxoHRw,zpuFEeAhrNzXPkOlBf5Kog,zu4p6IZLSVn2Noto-vcwzw,zxW8zECvT_SqejieMMjb5A
user_id,,,,,,,,,,,,,,,,,,,,,
-0TDPqsNDa_PfAhr4_Zoqg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1-ECBsGpG4Iw5s-ecnfqw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-14MA777BbjUQLw0zndvfA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1WbN1Qd-opw8u3uEqs2Kg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2fEljwGSp7DP1wqT6C5qQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zrIaF2J2TAqnAwfQAxFp8w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zv6CI7HvLGRHgu6yqX-Asw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zvs6DYpACuh0cpsPDO48dw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zxAM0cdIbZZYN-6gVQuntQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zyt0joW7uNeQof5tthQAHg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
set(freq_table.iloc[0].loc[lambda df: df.ne(0)].index)

{'1XoX4eLYyfK4b8l_TqiPUg',
 'cJXlIGy9SURm12lqHHnf-g',
 'iBBV8vesQ8fo2IQA7an1JA',
 'iBTc6XKgW5HESEZIii-G4g',
 'skY6r8WAkYqpV7_TxNm23w'}

In [13]:
def User2UserWeight(user1, user2, freq_table, eps=1e-4):
    numerator = 0
    user1_business = set(freq_table.loc[user1].loc[lambda df: df.ne(0)].index)
    user2_business = set(freq_table.loc[user2].loc[lambda df: df.ne(0)].index)
    for business in user1_business & user2_business:
        numerator += min(
            freq_table.loc[user1][business], freq_table.loc[user2][business]
        )
    numerator += eps
    denominator = len(user1_business & user2_business) + 1
    return round(numerator / denominator, 4)

In [ ]:
with open("../cleaned_data/graph_data/User2User_edges.txt", "w") as f:
    for data in tqdm(ls):
        try:
            if data[0] in freq_table.index and data[1] in freq_table.index:
                f.write(str(data[0]))
                f.write(",")
                f.write(str(data[1]))
                f.write(",")
                f.write(str(User2UserWeight(data[0], data[1], freq_table)))
                f.write("\n")  # A pair of user_id and friends
        except:
            pass

100%|██████████| 145633/145633 [00:13<00:00, 11174.92it/s]

## User-Poi Edge

In [15]:
import torch
from tqdm import tqdm
from transformers import AutoModelForSequenceClassification, AutoTokenizer

device = (
    "cuda"
    if torch.cuda.is_available()
    else ("mps" if torch.backends.mps.is_available() else "cpu")
)
print(device)

model = AutoModelForSequenceClassification.from_pretrained(
    "nihaldsouza1/yelp-rating-classification",
)

tokenizer = AutoTokenizer.from_pretrained(
    "nihaldsouza1/yelp-rating-classification",
    truncation=True,
    max_length=512,
)

cuda

In [16]:
review_train_df["text"].values

array(["Yes, this is the only sushi place in town. However, it is great when you're craving sushi and don't have time to go somewhere else. The salmon is probably the best fish they have, so we always order salmon. We also love their spicy edamame, tempura, ocean salad, and cabbage salad. Service has always been friendly and quick!",
       'Great burgers,fries and salad!  Burgers have a hint of salt and pepper flavor.\n\nThis location is very quaint. They only have outdoor seating\n\nFriendly staff.\n\nStreet parking as well as parking lot in the back.',
       "If I could give it a zero, I would. I order a plain hamburger, and realized they put  bacon in it (which I am allergic to and unable to eat) after two bites. When I went back to the drive-through window to complain (didn't realize the actual restaurant was open--it was almost 2 after all...), the guy took back the burger, said nothing, and disappeared. After 2 minutes of awkwardly making conversation with the next people in line in their car, he came back and rudely told me I had to go inside to get my food. Which I did. And still did not get an apology.\n\nI refuse to go back there after that ordeal, which is a shame, because it's nice to have a variety of places to go to after DT. Guess Freebirds it is!",
       ..., 'X', '15$ tasting Whoaaa',
       'Forgot to ask for no honey so had to down some water w it cause it was too sweet... Extra tappy tasting'],
      dtype=object)

In [17]:
tokenizer

RobertaTokenizerFast(name_or_path='nihaldsouza1/yelp-rating-classification', vocab_size=50265, model_max_length=512, is_fast=True, padding_side='right', truncation_side='right', special_tokens={'bos_token': '<s>', 'eos_token': '</s>', 'unk_token': '<unk>', 'sep_token': '</s>', 'pad_token': '<pad>', 'cls_token': '<s>', 'mask_token': '<mask>'}, clean_up_tokenization_spaces=False),  added_tokens_decoder={
	0: AddedToken("<s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	1: AddedToken("<pad>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	2: AddedToken("</s>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	3: AddedToken("<unk>", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	50264: AddedToken("<mask>", rstrip=False, lstrip=True, single_word=False, normalized=False, special=True),
}

In [18]:
model.to(device)

RobertaForSequenceClassification(
  (roberta): RobertaModel(
    (embeddings): RobertaEmbeddings(
      (word_embeddings): Embedding(50265, 768, padding_idx=1)
      (position_embeddings): Embedding(514, 768, padding_idx=1)
      (token_type_embeddings): Embedding(1, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): RobertaEncoder(
      (layer): ModuleList(
        (0-5): 6 x RobertaLayer(
          (attention): RobertaAttention(
            (self): RobertaSdpaSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): RobertaSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): RobertaIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): RobertaOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
  )
  (classifier): RobertaClassificationHead(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (dropout): Dropout(p=0.1, inplace=False)
    (out_proj): Linear(in_features=768, out_features=5, bias=True)
  )
)

In [ ]:
res = list(review_train_df["text"].values)

star = []
model.eval()
model.to(device)
with torch.no_grad():
    for i in tqdm(range(len(res))):
        inputs = res[i]
        inputs = tokenizer(inputs, return_tensors="pt", truncation=True)
        inputs.to(device)
        k = torch.argmax(model(**inputs).logits[0]).item() + 1
        star.append(k)

  0%|          | 0/78640 [00:00<?, ?it/s]d:\Miniconda3\envs\8007project\lib\site-packages\transformers\models\roberta\modeling_roberta.py:370: UserWarning: 1Torch was not compiled with flash attention. (Triggered internally at C:\cb\pytorch_1000000000000\work\aten\src\ATen\native\transformers\cuda\sdp_utils.cpp:455.)
  attn_output = torch.nn.functional.scaled_dot_product_attention(
 87%|████████▋ | 68300/78640 [07:36<00:55, 187.68it/s]

In [ ]:
temp = review_train_df["stars"]
star = pd.Series(star)
temp.loc[temp.isnull()] = star.loc[temp.isnull()]
review_train_df["new_stars"] = (temp + star) / 2

158062   NaN
158063   NaN
158064   NaN
158065   NaN
158066   NaN
          ..
189568   NaN
189569   NaN
189570   NaN
189571   NaN
189572   NaN
Name: stars, Length: 31511, dtype: float64

In [58]:
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count
0,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,1.484427e+09,NaN,None
1,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3.0,0.0,0.0,0.0,"In a word... ""OVERRATED!"". The food took fore...",1.388285e+09,NaN,None
2,Ki90-hauSIfW_7sBuBBqfA,Z2cOL3n9V8NoguJ-uU_Nvw,j8JOZvfeHEfUWq3gEz6ABQ,2.0,2.0,3.0,0.0,NEVER AGAIN. This is a so called restaurant th...,1.402499e+09,NaN,None
3,fGYcFOHfQL4stYPdD3J47g,CgyCtH9CbLO7J_uO3cL7OA,PzhPMkaNYiKDTHoTG0r8rw,4.0,0.0,0.0,0.0,After 3 weeks of working in the area I finally...,1.474239e+09,NaN,None
4,zRIH5eDA2GbynjZPrk8dDg,07aVWNhBhpwqW3MdqoKDKQ,jLerIZFpe25jOUf722qzBA,3.0,1.0,0.0,1.0,My food only merited maybe two stars but I wil...,1.300625e+09,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
189568,None,pmicanKB33RORORyuW-FRw,ujYhU3bX35BCVj1NUbSQpQ,NaN,NaN,NaN,NaN,Not a huge menu...some sandwiches and pastries...,1.372874e+09,0.0,None
189569,None,6mqnjHUgNEGtb9H5dxQZew,TcNZXteosegb1RO4O5hREw,NaN,NaN,NaN,NaN,Fried Oyster Poorboys on Monday and Wednesday!...,1.405354e+09,0.0,None
189570,None,S7bRCe31-pZNNivo9HmYeg,95tAFc8hVfzVr0uRJuDbaw,NaN,NaN,NaN,NaN,Not 24hr!!!!,1.429599e+09,0.0,None
189571,None,S7bRCe31-pZNNivo9HmYeg,0ZeGH15LV98FuijA1XrWoA,NaN,NaN,NaN,NaN,Kyoto is closed for good. Some corporation bou...,1.476826e+09,0.0,None
189572,None,ZoTe31b0sQ2EH-ucMuxyvw,mbKGY9CcbjSvy3Iyumeg3Q,NaN,NaN,NaN,NaN,"Great food, even better margaritas!!! Best Mex...",1.460166e+09,0.0,None

In [ ]:
def User2PoiWeight(user_id, business_id, freq_table):
    star = review_train_df.loc[
        (review_train_df["user_id"] == user_id)
        & (review_train_df["business_id"] == business_id)
    ]["new_stars"]
    return star

In [ ]:
review_train_df.pivot_table(
    index="user_id",
    columns="business_id",
    values="new_stars",
    aggfunc="count",
    fill_value=0,
)
with open("../cleaned_data/graph_data/User2Poi_edges.txt", "w") as f:
    for user_id in tqdm(freq_table.index):
        for business_id in freq_table.columns:
            if freq_table.loc[user_id][business_id] >= 1:
                f.write(str(user_id))
                f.write(",")
                f.write(str(business_id))
                f.write(",")
                f.write(str(User2PoiWeight(user_id, business_id, freq_table)))
                f.write("\n")

## Poi-Poi Edge

In [10]:
from datetime import datetime

review_train_df["date2"] = [datetime.fromtimestamp(x) for x in review_train_df["date"]]
review_train_df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,compliment_count,count,date2
0,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,1.484427e+09,NaN,None,2017-01-15 04:54:15
1,jC-fGfx-YLqxVBcyTAd4Pw,EBa-0-6AKoy6jziNexDJtg,W4ZEKkva9HpAdZG88juwyQ,3.0,0.0,0.0,0.0,"In a word... ""OVERRATED!"". The food took fore...",1.388285e+09,NaN,None,2013-12-29 10:37:42
2,Ki90-hauSIfW_7sBuBBqfA,Z2cOL3n9V8NoguJ-uU_Nvw,j8JOZvfeHEfUWq3gEz6ABQ,2.0,2.0,3.0,0.0,NEVER AGAIN. This is a so called restaurant th...,1.402499e+09,NaN,None,2014-06-11 22:55:14
3,fGYcFOHfQL4stYPdD3J47g,CgyCtH9CbLO7J_uO3cL7OA,PzhPMkaNYiKDTHoTG0r8rw,4.0,0.0,0.0,0.0,After 3 weeks of working in the area I finally...,1.474239e+09,NaN,None,2016-09-19 06:43:18
4,zRIH5eDA2GbynjZPrk8dDg,07aVWNhBhpwqW3MdqoKDKQ,jLerIZFpe25jOUf722qzBA,3.0,1.0,0.0,1.0,My food only merited maybe two stars but I wil...,1.300625e+09,NaN,None,2011-03-20 20:44:20
...,...,...,...,...,...,...,...,...,...,...,...,...
189568,None,pmicanKB33RORORyuW-FRw,ujYhU3bX35BCVj1NUbSQpQ,NaN,NaN,NaN,NaN,Not a huge menu...some sandwiches and pastries...,1.372874e+09,0.0,None,2013-07-04 01:47:41
189569,None,6mqnjHUgNEGtb9H5dxQZew,TcNZXteosegb1RO4O5hREw,NaN,NaN,NaN,NaN,Fried Oyster Poorboys on Monday and Wednesday!...,1.405354e+09,0.0,None,2014-07-15 00:08:11
189570,None,S7bRCe31-pZNNivo9HmYeg,95tAFc8hVfzVr0uRJuDbaw,NaN,NaN,NaN,NaN,Not 24hr!!!!,1.429599e+09,0.0,None,2015-04-21 14:53:47
189571,None,S7bRCe31-pZNNivo9HmYeg,0ZeGH15LV98FuijA1XrWoA,NaN,NaN,NaN,NaN,Kyoto is closed for good. Some corporation bou...,1.476826e+09,0.0,None,2016-10-19 05:19:35
189572,None,ZoTe31b0sQ2EH-ucMuxyvw,mbKGY9CcbjSvy3Iyumeg3Q,NaN,NaN,NaN,NaN,"Great food, even better margaritas!!! Best Mex...",1.460166e+09,0.0,None,2016-04-09 09:42:58

In [11]:
time_table = review_train_df.pivot_table(
    index="user_id",
    columns="business_id",
    values="date2",
)
time_table

business_id,--8IbOsAAxjKRoYsBFL-PA,-0__F9fnKt8uioCKztF5Ww,-0ltw8--HLuulPyOSspqAQ,-1XSzguS6XLN-V6MVZMg2A,-4x3pVUUsfWmKEilWKsOZQ,-6TttC-1-rf5gC0QHWrs_w,-7iiapq3BMer7eW-NRXd2w,-86Z04IBKxhEQ17rCOkn8g,-8B29WNRCyg4jViK4ChKlQ,-8luB5pJ7d9UOoiF7wikkw,...,zrUAjvPlH22dnvNtxRuiBg,zrWmHg7PNEE4URu2vLl67w,zrkvXc-pG-loBBGJMN5IiQ,zsi8oJBaY3UrMMmQm4DncA,ztcOE7NN0WdleNOCbje8ng,zurZgdE3W9jJnU6VAgTdSg,zvGNZF827KyzLupKiG4Xtw,zwe9H6Xxqb1_E09A20Ptgg,zzbZtgPYZS8sTIWQH6DwEw,zzu6_r3DxBJuXcjnOYVdTw
user_id,,,,,,,,,,,,,,,,,,,,,
---UgP94gokyCDuB5zUssA,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,2014-11-03 06:00:08,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
--XwFm4qERD6J5SX0JAsbg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
--cPqjzKHqHKmGala65zwg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
--vN7C-lXaBve7Sl02Y_9Q,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
-0LGLx8LP5dq3zcGO4Bebw,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zy0el7c-IO4BvjxUgj-ZSw,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zy7HqigeNvAU0TpDra-H9g,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zzDtNDtESTyAXX3glz4MWQ,NaT,NaT,NaT,NaT,2016-09-24 08:46:03,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zzgLgszu48af4NJULymzAA,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
zziWJMYwDjyVi7kJmgRUvg,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [12]:
t = time_table.loc["zzDtNDtESTyAXX3glz4MWQ"]["-4x3pVUUsfWmKEilWKsOZQ"]
t

Timestamp('2016-09-24 08:46:03')

In [13]:
# Check which user has visited the specified business
time_table["-4x3pVUUsfWmKEilWKsOZQ"].sort_values().loc[lambda df: df.notnull()]

user_id
Roz6yC22LRB2wFJC6I9ERg   2014-04-11 09:58:48.000
qGIHVzXZvSoU6PfVFfOWqA   2014-05-01 07:25:10.000
9Nx0VL4f_8K6V6yfFLue1Q   2014-06-06 23:06:45.000
zn2RHz7IP4uM-Gsf5c1FHg   2014-07-06 09:59:41.000
sTKe0hIMr5_yV01jOWweSg   2014-07-31 09:59:05.000
H1GwyEuTXi-3nLk082wfHA   2014-08-13 10:59:26.000
2hTVUUriSLT6hWK8VY9WHg   2014-08-21 01:10:51.000
ZdODEy4O0-nPdPKwkdQkdw   2014-11-18 05:14:29.000
t7Z2hdnOE3FQeuu56eOxiA   2015-01-26 21:31:07.000
rL2hC27iA1AB9RvdLLbkNA   2015-02-10 00:41:55.000
CEAez8zEPRtntTjqfZ39NA   2015-03-02 01:36:04.000
CjwYS6PtNDlrLnHErQAgMQ   2015-03-02 02:56:09.000
ddvl_jow_K51vy2jM4oLxQ   2015-03-13 05:33:27.000
-OEWEH1WgWA3Nh-_6E3HMg   2015-04-16 04:35:59.000
02hpwTDFZVbufoc-x8W5zg   2015-05-03 10:07:52.000
1HM81n6n4iPIFU5d2Lokhw   2015-05-09 00:09:09.000
1-r671PdVDRV2zq1sEC9Gw   2015-05-26 06:42:50.000
q4LmkpMygPZqJkgWw-eD8w   2015-05-30 06:13:41.000
DB6zT8ouRNEoJ-kZlp32VA   2015-06-21 05:57:26.000
LuzOVxV_MtucPqwrNUZCUQ   2015-06-26 08:46:33.000
ShLvbrlY9qlJOwhkRINYOQ   2015-08-13 10:42:00.000
BVwZaapCwqZbIqBu2-9DWQ   2015-09-08 00:53:56.000
6Dsb-2P6Mm8BAdqGc7VIDg   2015-10-04 11:39:39.000
GxnQ6ss4O2lPQZXc4CGcJQ   2015-11-30 09:16:23.000
OAXKmnJgiboyTUkXwG9wsw   2015-12-14 00:46:54.000
CfX4sTIFFNaRchNswqhVfg   2016-01-15 10:24:09.000
skdAsWlekOcaA8WvAyYztQ   2016-04-04 21:34:43.000
usqHGWBX_cj3Q-moOjusrw   2016-04-24 12:03:47.000
forT0gYJlY7gIc7cFeho6w   2016-05-09 03:39:58.000
JvF4NULGespxybMObL9aig   2016-05-11 00:43:03.000
fJM_1YrTqlVPjgq2_ObDOA   2016-07-05 10:00:41.500
zzDtNDtESTyAXX3glz4MWQ   2016-09-24 08:46:03.000
ev947pHN53-GanH18JFn4A   2017-03-29 04:54:29.000
Name: -4x3pVUUsfWmKEilWKsOZQ, dtype: datetime64[ns]

In [14]:
# time_table["-4x3pVUUsfWmKEilWKsOZQ"].sort_values().loc[lambda df: df.notnull()].index
time_table.loc["Roz6yC22LRB2wFJC6I9ERg"].sort_values().loc[lambda df: df.notnull()]

business_id
M-6AXSgmDMYcWsF442mzzA   2011-11-17 09:25:18.000
ezb90IvaQ4sKojatZC80BA   2012-04-28 00:28:22.000
8QPeBH0APzUlokwD7S5G6Q   2012-05-09 09:43:29.000
3db1R99-mdSvx3QwryJSNQ   2012-05-15 05:15:39.000
_NfEP6cuFSz7bd-7OtiJ-Q   2013-08-12 03:59:30.000
b5EFmhN5S4DDlpxkku8VBw   2014-03-26 06:17:19.000
-4x3pVUUsfWmKEilWKsOZQ   2014-04-11 09:58:48.000
i9ahyW_GpP1nrMomY5BoFQ   2014-07-26 03:40:15.000
_SjdrpSZdiXVSwaJR5T9jw   2014-09-25 09:06:29.000
WZ5IxAi-hTRLrG1nRmyhVg   2014-11-15 03:12:26.000
KtiZ7-oI4n_yNazrZUnumQ   2015-01-04 08:27:34.000
QQng-ifjEZhI1Vb9j0Hb4A   2015-02-08 04:01:12.500
LYd7px5BfCrGeNLHyaDW6w   2015-06-19 04:04:45.500
CY23YgKIhIdFkoVLp7Vhhg   2015-08-16 01:39:40.000
uvQQlr5ye4ReQTxuyB7kCA   2015-11-12 07:38:53.000
LqQOn3EFOSY3eWZjjgv_eQ   2015-12-09 09:26:25.000
3euS__1BAL3ETiIuecS6ZQ   2016-05-25 00:30:51.000
Name: Roz6yC22LRB2wFJC6I9ERg, dtype: datetime64[ns]

In [15]:
t

Timestamp('2016-09-24 08:46:03')

In [ ]:
time_table.loc["Roz6yC22LRB2wFJC6I9ERg"].sort_values().loc[lambda df: df.notnull()] > t

business_id
M-6AXSgmDMYcWsF442mzzA    False
ezb90IvaQ4sKojatZC80BA    False
8QPeBH0APzUlokwD7S5G6Q    False
3db1R99-mdSvx3QwryJSNQ    False
_NfEP6cuFSz7bd-7OtiJ-Q    False
b5EFmhN5S4DDlpxkku8VBw    False
-4x3pVUUsfWmKEilWKsOZQ    False
i9ahyW_GpP1nrMomY5BoFQ    False
_SjdrpSZdiXVSwaJR5T9jw    False
WZ5IxAi-hTRLrG1nRmyhVg    False
KtiZ7-oI4n_yNazrZUnumQ    False
QQng-ifjEZhI1Vb9j0Hb4A    False
LYd7px5BfCrGeNLHyaDW6w    False
CY23YgKIhIdFkoVLp7Vhhg    False
uvQQlr5ye4ReQTxuyB7kCA    False
LqQOn3EFOSY3eWZjjgv_eQ    False
3euS__1BAL3ETiIuecS6ZQ    False
Name: Roz6yC22LRB2wFJC6I9ERg, dtype: bool

In [ ]:
time_table.columns

Index(['--8IbOsAAxjKRoYsBFL-PA', '-0__F9fnKt8uioCKztF5Ww',
       '-0ltw8--HLuulPyOSspqAQ', '-1XSzguS6XLN-V6MVZMg2A',
       '-4x3pVUUsfWmKEilWKsOZQ', '-6TttC-1-rf5gC0QHWrs_w',
       '-7iiapq3BMer7eW-NRXd2w', '-86Z04IBKxhEQ17rCOkn8g',
       '-8B29WNRCyg4jViK4ChKlQ', '-8luB5pJ7d9UOoiF7wikkw',
       ...
       'zrUAjvPlH22dnvNtxRuiBg', 'zrWmHg7PNEE4URu2vLl67w',
       'zrkvXc-pG-loBBGJMN5IiQ', 'zsi8oJBaY3UrMMmQm4DncA',
       'ztcOE7NN0WdleNOCbje8ng', 'zurZgdE3W9jJnU6VAgTdSg',
       'zvGNZF827KyzLupKiG4Xtw', 'zwe9H6Xxqb1_E09A20Ptgg',
       'zzbZtgPYZS8sTIWQH6DwEw', 'zzu6_r3DxBJuXcjnOYVdTw'],
      dtype='object', name='business_id', length=3535)

In [ ]:
# Generate edges map from 1 PoI to another PoI
Poi2Poi = {}
for business in tqdm(
    time_table.columns,
):
    business_record = time_table[business].sort_values().loc[lambda df: df.notnull()]
    after_visit = []
    for user in tqdm(business_record.index, leave=False):
        timeStamp = business_record.loc[user]
        # user trajectory
        user_trajectory = (
            time_table.loc[user].sort_values().loc[lambda df: df.notnull()]
        )

        user_trajectory = user_trajectory.loc[lambda df: df > timeStamp].index
        if len(user_trajectory) > 0:
            after_visit.append(user_trajectory[0])
    after_visit = list(set(after_visit))
    Poi2Poi[business] = after_visit

  0%|          | 0/3535 [00:00<?, ?it/s]

100%|██████████| 3535/3535 [02:32<00:00, 23.20it/s]

In [1]:
from geopy.distance import geodesic

In [ ]:
Poi2Poi_dis = {}
negative_exponent = -7
for business, after_visit in tqdm(Poi2Poi.items()):
    for poi in after_visit:
        business_loc = new_business_df.loc[new_business_df["business_id"] == business][
            ["latitude", "longitude"]
        ].values[0]
        poi_loc = new_business_df.loc[new_business_df["business_id"] == poi][
            ["latitude", "longitude"]
        ].values[0]
        Poi2Poi_dis[(business, poi)] = (
            geodesic(business_loc, poi_loc).miles
        ) ** negative_exponent
    Poi2Poi_dis[(business,)] = sum(
        [Poi2Poi_dis[(business, poi)] for poi in after_visit]
    )

In [ ]:
Poi2Poi_weight = {}
for business1 in time_table.columns:
    for business2 in Poi2Poi[business1]:
        tmp = 0  # sum of weight
        for user in time_table.loc[lambda df: df[business1].notnull()].index:
            user_trajectory = (
                time_table.loc[user].sort_values().loc[lambda df: df.notnull()]
            )
            for idx, poi in enumerate(user_trajectory.index):
                if (
                    user_trajectory.index[idx] == business1
                    and user_trajectory.index[idx + 1] == business2
                    and idx + 1 < len(user_trajectory)
                ):
                    # Calculate distance between two PoI
                    temp += (
                        Poi2Poi_dis[(business1, business2)] / Poi2Poi_dis[(business1,)]
                    )
        Poi2Poi_weight[(business1, business2)] = temp

In [ ]:
with open("../cleaned_data/graph_data/Poi2Poi_edges.txt", "w") as f:
    for business1 in tqdm(time_table.columns):
        for business2 in Poi2Poi[business1]:
            f.write(str(business1))
            f.write(",")
            f.write(str(business2))
            f.write(",")
            f.write(str(Poi2Poi_weight[(business1, business2)]))
            f.write("\n")

## node_type_ID.txt

In [ ]:
# The node_type_ID.txt format is as follows:
# node_id   node_type
# 0         U
# 1         U
# 2         P
# 3         P

## edge_type_ID.txt
with open("../cleaned_data/graph_data/edge_type_ID.txt", "w") as f:
    for user_id in review_train_df["user_id"].unique():
        f.write(f"{user_id}\tU\n")
    for poi_id in review_train_df["business_id"].unique():
        f.write(f"{poi_id}\tP\n")

## Concatenate all edge weights files

In [ ]:
## edge_ID.txt
# Read all edges from the file (Poi2Poi_edges.txt, User2Poi_edges.txt, User2User_edges.txt) and write them to the edge_ID.txt file
with open("../cleaned_data/graph_data/edge_ID.txt", "w") as f:
    with open("../cleaned_data/graph_data/Poi2Poi_edges.txt", "r") as f1:
        for line in f1:
            f.write(line)
    with open("../cleaned_data/graph_data/User2Poi_edges.txt", "r") as f2:
        for line in f2:
            f.write(line)
    with open("../cleaned_data/graph_data/User2User_edges.txt", "r") as f3:
        for line in f3:
            f.write(line)